OPENAI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
ANTHROPIC_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
GOOGLE_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
XAI_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
DEEPSEEK_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
OPENROUTER_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
NVIDIA_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

LLM_URL="http://192.168.0.2:1236/v1"
LLM_API_KEY="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

MCP_SERVER_TEST="1"

MCP_SERVER_TEST_AUTH_URL="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MCP_SERVER_TEST_AUTH_AUDIENCE="https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

MCP_SERVER_TEST_01_URL="https://xxxxxxxxxxx/mcp/"
MCP_SERVER_TEST_02_URL="https://xxxxxxxxxxx/mcp/"
MCP_SERVER_TEST_03_URL="https://xxxxxxxxxxx/mcp/"

MCP_SERVER_TEST_01_TOOL="show_files"
MCP_SERVER_TEST_02_TOOL="show_files"
MCP_SERVER_TEST_03_TOOL="show_files"
MCP_SERVER_TEST_04_TOOL="show_files"

MCP_SERVER_TEST_PROMPT_01="Was ist das Gegenteil von \"hell\"? Antworte bitte kurz."
MCP_SERVER_TEST_ANSWER_01="dunkel"
MCP_SERVER_TEST_PROMPT_02="Welche Dateien befinden sich auf meinem PC im Ordner: /var/www/? Nutze Tools!"
MCP_SERVER_TEST_ANSWER_02="README.md"